@media print {
    @page {
        size: 60mm 40mm;
        margin: 0;

    }
}
.divfloat{
    display:inline-block;
    background: #fff;
    margin-right:20px;
}
table {
    width: 6cm;
    height:4cm;
    line-height: 13px;
    position: relative;
    font-size:12px;
}
.qrcode {
    position: absolute;
    top: 5%;
    right: 5%;
}